@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Monoton');

a {
  text-decoration: none;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://robertdebry.com/wp-content/uploads/2017/11/shutterstock_471974153.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 805px;
}

.login-page h1 {
  font-size: 80px;
  font-family: 'Acme', sans-serif;
  margin-top: 200px;
  color: white;
  background-color: black;
}

.login-page button {
  color: white;
  background-color: black;
  font-size: 30px;
  font-family: 'Gugi', sans-serif;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  padding: 10px 10px 10px;
  width: 100px;
  outline: none !important;
}

.resorts-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('https://i.ytimg.com/vi/SrPEBaWQUOw/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.resorts-page h1 {
  margin-left: 20px;
  font-size: 40px;
  font-family: 'Acme', sans-serif;
}

.resorts-page-logout-btn {
  margin-right: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 5px 5px;
  font-size: 20px;
  font-family: 'Gugi', sans-serif;
  outline: none !important;
}

.resorts-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://orig00.deviantart.net/829e/f/2011/160/a/a/brighton_mountain__utah__panor_by_tiller630-d3ihzpa.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 805px;
}

.resorts-btn {
  margin-top: 40px;
  font-size: 40px;
  font-family: 'Monoton';
  cursor: pointer;
  border: none;
  border-radius: 3em;
  background-color: #4ab5ef;
  outline: none !important;
}

.back-btn {
  display: flex;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: black;
  border: none;
  font-family: 'Gugi', sans-serif;
  border-radius: 3em;
  padding: 10px 10px 10px;
  outline: none !important;
  margin-top: 10px;
  margin-left: 10px;
}

.rides-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: black;
  opacity: 0.7;
  margin-top: 200px;
  font-size: 20px;
  font-family: 'Gugi', sans-serif;
  width: 200px;
  height: 400px;
  border-radius: 3em;
  padding: 5px 10px 5px;
  margin-left: 93px;
}

.book-btn {
  font-family: 'Gugi', sans-serif;
  font-size: 13px;
  background-color: black;
  color: white;
  border-radius: 3em;
  outline: none !important;
  cursor: pointer;
}

.delete-btn {
  font-family: 'Gugi', sans-serif;
  font-size: 13px;
  background-color: black;
  color: white;
  border-radius: 3em;
  outline: none !important;
  cursor: pointer;
}

.resort-page {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 805px;
}

.add-ride-info {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
  top: 0;
  right: 10px;
  position: absolute;
}

.add-ride-btn {
  margin-left: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
  border: none;
  outline: none !important;
  font-family: 'Gugi', sans-serif;
  border-radius: 3em;
  cursor: pointer;
}

.add-ride-input {
  margin-left: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
  border: none;
  outline: none !important;
}