@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Monoton');

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://robertdebry.com/wp-content/uploads/2017/11/shutterstock_471974153.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 805px;
}

.login-page h1 {
  font-size: 80px;
  font-family: 'Acme', sans-serif;
  margin-top: 200px;
  color: white;
  background-color: black;
}

.login-page button {
  color: white;
  background-color: black;
  font-size: 30px;
  font-family: 'Gugi', sans-serif;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  padding: 10px 10px 10px;
  width: 100px;
  outline: none !important;
}

.resorts-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('https://i.ytimg.com/vi/SrPEBaWQUOw/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.resorts-page h1 {
  margin-left: 20px;
  font-size: 40px;
  font-family: 'Acme', sans-serif;
}

.resorts-page-logout-btn {
  margin-right: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 5px 5px;
  font-size: 20px;
  font-family: 'Gugi', sans-serif;
  outline: none !important;
}

.resorts-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://orig00.deviantart.net/829e/f/2011/160/a/a/brighton_mountain__utah__panor_by_tiller630-d3ihzpa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 805px;
}

.brighton-btn {
  margin-top: 120px;
  font-size: 40px;
  font-family: 'Monoton';
  cursor: pointer;
  border: none;
  border-radius: 3em;
  background-color: #4ab5ef;
  outline: none !important;
}

.solitude-btn {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Monoton';
  cursor: pointer;
  border: none;
  border-radius: 3em;
  background-color: #4ab5ef;
  outline: none !important;
}

.snowbird-btn {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Monoton';
  cursor: pointer;
  border: none;
  border-radius: 3em;
  background-color: #4ab5ef;
  outline: none !important;
}

.alta-btn {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Monoton';
  cursor: pointer;
  border: none;
  border-radius: 3em;
  background-color: #4ab5ef;
  outline: none !important;
}

.snowbasin-btn {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Monoton';
  cursor: pointer;
  border: none;
  border-radius: 3em;
  background-color: #4ab5ef;
  outline: none !important;
}

.powdermountain-btn {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Monoton';
  cursor: pointer;
  border: none;
  border-radius: 3em;
  background-color: #4ab5ef;
  outline: none !important;
}

.back-btn {
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: black;
  border: none;
  font-family: 'Gugi', sans-serif;
  border-radius: 3em;
  padding: 10px 10px 10px;
  outline: none !important;
  margin-top: 10px;
  margin-left: 10px;
}

.rides-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: black;
  opacity: 0.7;
  margin-top: 200px;
  font-size: 20px;
  width: 200px;
  height: 400px;
  border-radius: 3em;
  padding: 5px 10px 5px;
}

.brighton-msg {
  display: flex;
  background-image: url('https://www.skinsee.com/resources/images/bnr1-resort-brighton.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 805px;
}

.solitude-msg {
  display: flex;
  background-image: url('https://snowbrains.com/wp-content/uploads/2013/11/solitude_logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
}

.snowbird-msg {
  display: flex;
  background-image: url('https://www.skinsee.com/resources/images/bnr1-resort-snowbird.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 805px; 
}

.alta-msg {
  display: flex;
  background-image: url('https://nwt3k.com/blog/wp-content/uploads/2016/01/Alta_pistemap.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 805px;
}

.snowbasin-msg {
  display: flex;
  background-image: url('https://www.visitogden.com/imager/files_idssasp_com/public/C138/9e7f71d6-061e-4997-ab59-46bb8483dda5_52300f0f612b49ced2935b804ede9f32.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 805px;
}

.powdermountain-msg {
  display: flex;
  background-image: url('https://media.deseretdigital.com/file/34a48b6746?crop=top:0|left:0|width:1260|height:670|gravity:Center&quality=55&interlace=none&resize=width:1260&order=resize,crop&c=14&a=e0f131f0');
  background-repeat: no-repeat;
  background-size: cover;
  height: 805px;
}